.columns
  .column.col-12
    = render 'accounts/head'

    .box
      .box-nav
        ul.tab
          li.tab-item
            = active_link_to 'Hot', account_comments_root_path, active: :exclusive
          li.tab-item
            = active_link_to 'Recent', recent_account_comments_path

      .box-body
        = render 'comments/list', comments: @comments, show_reply_link: false

    = paginate @comments, theme: :mini_box
