@import '../variables';

footer {
  padding-top: 2em;
  font-size: .8em;
  color: $gray-color;

  a {
    span {
      transition: all .2s;
      display: inline-block;
    }
  }

  a:hover {
    text-decoration: none;
    span {
      transform: rotate(450deg);
    }
  }
}
