- url = story.is_a?(Stories::Update) ? story_path(story.story) : stories_path
- method = story.is_a?(Stories::Update) ? :put : :post

= simple_form_for story, as: :story,
                         url: url,
                         wrapper: :spectre_vertical_form,
                         method: method,
                         html: { data: { controller: 'story-form' } } do |f|

  - if f.object.errors[:base].any?
    .toast.toast-error
      h5 = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  / Story URL
  .form-group(class=('has-error' if f.object.errors[:url].any?))
    label.form-label URL
    .input-group
      = f.input_field :url, placeholder: 'https://...',
                            class: 'form-input',
                            data: { target: 'story-form.urlInput', action: 'keyup->story-form#handleUrlChange' },
                            disabled: !policy(f.object).update_url?

      button.btn.btn-primary.input-group-btn(
        data-action="click->story-form#fetchTitle"
        data-target="story-form.fetchTitleBtn"
        disabled=!f.object.url.present?
      )
        | Fetch title

    = f.full_error :url, class: 'form-input-hint'
    div.form-input-hint.text-gray
      | Optional when providing description.

  / Story title
  = f.input :title, input_html: { class: 'input-lg',
                    data: { target: 'story-form.titleInput' } },
                    required: false

  / Story tags
  = f.input :tag_list, hint: 'Comma-separated list of tags'

  / Story description
  = f.input :description, as: :text,
                          hint: 'Optional when submitting a URL. Not for summarizing the post.',
                          input_html: { rows: 5 }

  = f.submit class: 'btn btn-primary'
