.columns
  .column.col-9
    .box
      .box-body.p-4
        h1.h3 Post a Story
        p Submit a link or provide a description to start a discussion. Check the guidelines to make sure what you're posting is appropriate for the community.

        .divider
        = render 'stories/form', story: @story

  = render 'stories/guidelines'
