- set_meta_tags @story.decorate

.columns
  .column.col-12
    .stories-list
      ul.list-unstyled
        = render @story

    .box(data-controller="comments-tree")
      / New comment in thread notification template. It's gonna be copied and
      / pasted in appropriate place (child comments) for a comment each time websocket
      / is received
      li.comment-new-reply.d-none(data-target="comments-tree.newReplyToastTpl")
        .toast.toast-warning.toast-sm
          | New reply has been added.
          a.ml-1(href="" data-action="comment#loadNewComment" data-comment-id="")
            | Load it

      .box-body(style="padding: 1.5rem" data-controller="first-comment")
        .root-comment-form
          - if @comments.any?
            = render template: 'comments/new', comment: @comment

          - else
            .empty(data-target="first-comment.empty")
              .empty-icon
                i.icon.icon-people
              p.empty-title.h5 No comments yet
              p.empty-subtitle Click the button to start a conversation.
              .empty-action
                button.btn.btn-primary(
                  data-action="click->first-comment#showForm"
                  data-action-path=new_api_ujs_comment_path(story_id: @story.id)
                )
                  | Add first comment

        ul.comment-children(data-target="comments-tree.rootComments")
          - @comments.each do |comment, children|
            = render 'comments/comment', comment: comment, children: children, show_children: true
