.columns
  .column.col-12
    = render 'tags/head'

    .box
      .box-nav
        ul.tab
          li.tab-item
            = active_link_to 'Hot', tag_stories_path, active: :exclusive
          li.tab-item
            = active_link_to 'Recent', recent_tag_stories_path

      = render 'stories/list', stories: @stories

    = paginate @stories, theme: :mini_box
